<!-- Head -->
<%- include('./common/head')%>
  
<body>
		<div class="wrapper d-flex align-items-stretch">
      
            <!-- Navbar -->
			<%- include('./common/sidenavbar')%>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">Welcome Admin</h2>
        <p>An admin panel is a must-have for web applications like e-commerce projects or content management systems, 
          known as CMSes. You can actually outsource the work of creating a web app to an agency like Quikclicks or 
          build your own from scratch.</p>

         <p>These beautiful panels are full of features created to make your life easier.
           All are seamlessly coded and using the power of jQuery to animate the panels.
            Whether you`re building a new app, a user account area or revamping an old admin panel, 
            these ones are worth checking out.</p>
      </div>
		</div>

  <!-- Footer -->
  <%- include('./common/footer')%>
