<!-- Head -->
<%- include('./common/head')%>
  
<body>
		<div class="wrapper d-flex align-items-stretch">
      
            <!-- Navbar -->
			<%- include('./common/sidenavbar')%>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">Service Page</h2>
        </div>
		</div>

  <!-- Footer -->
  <%- include('./common/footer')%>
