<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
	  		<h1><a href="/admin/dashboard" class="logo">Souvik Saha</a></h1>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="/admin/dashboard"><span class="fa fa-home mr-3"></span> Dashboard</a>
          </li>
          <li>
              <a href="blog"><span class="fa fa-user mr-3"></span> Blog</a>
          </li>
          <li>
            <a href="team"><span class="fa fa-user mr-3"></span> Team </a>
          </li>
          <li>
            <a href="service"><span class="fa fa-user mr-3"></span> Service</a>
          </li>
          <li>
            <a href="client"><span class="fa fa-user mr-3"></span> Client</a>
          </li>
          <li>
            <a href="feature"><span class="fa fa-user mr-3"></span> Feature</a>
          </li>
          <li>
            <a href="logout"><span class="fa fa-admin mr-3"></span><b><i>Logout</i></b></a>
          </li>
        </ul>
    	</nav>